:root{
    --letraTitulos: rgb(17, 196, 106);
    --fondo: rgb(52, 73, 119);
    --bordes: aqua;
    --display: darkcyan;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--fondo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.header{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--letraTitulos);
}

a{ 
    text-decoration: none;
    color:var(--letraTitulos);
}

.header--titulo{
    font-size: 2.5rem;
}

.header--titulo:hover{ text-decoration: underline;}

.header--subtitulo{
    margin-bottom: 5rem;
    font-style: italic;
}

.header--display{
    background-color: var(--display);
    border: 10px solid var(--bordes);
    width: 20rem;
    height: 25rem;
    font-size: 1.5rem;
    font-weight: bolder;
    color: rgb(29, 25, 25);
    transition: 3s;
}

.header--display:hover{
    height: 42rem;
}

.main{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main--inicio{
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: transparent;
    font-weight: bolder;
    font-style: italic;
    z-index: 2;
}

.canvas{
    border: 5px solid var(--bordes);
    position: absolute;
    transition: 15s;
    width: 50vw;
}

@media screen and (min-width: 1080px){
    .canvas{ height: 80vh;}
}
